# americazon ignore (Next.js)
# dependencies
/americazon/node_modules/
/americazon/.pnp/
/americazon/.pnp.js/

# testing
/americazon/coverage/

# next.js
/americazon/.next/
/americazon/out/

# production
/americazon/build/

# misc
/americazon/.DS_Store
/americazon/*.pem

# debug
/americazon/npm-debug.log*
/americazon/yarn-debug.log*
/americazon/yarn-error.log*
/americazon/.pnpm-debug.log*

# local env files
/americazon/.env

# vercel
/americazon/.vercel


# JS Scraping ignore
/scraping/puppeteerScrape/node_modules/
/scraping/puppeteerScrape/chromedriver
/scraping/puppeteerScrape/.env

/scraping/pythonScrape/csvCleaning/*.csv
/scraping/pythonScrape/csvCleaning/*.json

# Python Scraping ignore
# Default ignored files
/scraping/pythonScrape/shelf/
/scraping/pythonScrape/workspace.xml
# Editor-based HTTP Client requests
/scraping/pythonScrape/httpRequests/
# Datasource local storage ignored files
/scraping/pythonScrape/dataSources/
/scraping/pythonScrape/dataSources.local.xml
/scraping/pythonScrape/.idea
/scraping/pythonScrape/.DS_Store
/scraping/pythonScrape/webdriver/
/scraping/pythonScrape/Login.py
/scraping/pythonScrape/__pycache__/


# root dir ignore
/.DS_Store
scraping/pythonScrape/AmazonScraper/proxies.txt
scraping/pythonScrape/AmazonScraper/Login.py
scraping/pythonScrape/csvCleaning/goodProducts.json
