/backEnd/node_modules/
/backEnd/data/
/backEnd/.env

/front-end/node_modules/

/scraping/puppeteerScrape/node_modules/
/scraping/puppeteerScrape/chromedriver
/scraping/puppeteerScrape/.env

/.DS_Store